:root {
  --primary-color: #989898;
}

* {
  font-family: "Livvic";
}
.titleContainer {
  padding: 10px 0px 11px 10px;
  background-color: white;
}

.title {
  font-size: 20px;
  color: #000000;
}
.table_generic {
  thead {
    tr {
      > th {
        color: #000000;
        font-size: 15px;
        font-weight: 300;
        padding: 10px 20px 10px 10px !important;
      }
      > th:not(:nth-child(1)) {
        color: var(--primary-color) !important;
        padding: 12px 20px 12px 9px !important;
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        font-size: 13px;
        font-weight: 300 !important;
        padding: 20px 0px 20px 10px !important;
        vertical-align: middle;

        .badgeColor {
          display: flex;
          width: 56px;
          height: 20px;
          font-size: 12px;
          border-radius: 6px;
          justify-content: center;
          align-items: center;
          color: #ffffff;

          &--words {
            background: linear-gradient(to right, #0abe3c, #0c892f);
          }
          &--proverbs {
            background: linear-gradient(to right, #368bfc, #104fa3);
          }
          &--legends {
            background: linear-gradient(to right, #f9566e, #c80522);
          }
          &--couplets {
            background: linear-gradient(to right, #e0a83c, #c2830b);
          }
        }
      }
    }
  }
}

.table_generic__arrow {
  font-family: "Livvic";
  font-size: 14px;
  padding: 16px 0px 0px 24px !important;
}
